$primary: #7289da;
$accent: #43b581;
$warn: #f04747;

$black: #202225;
$black2: #292b2f;
$black3: #2f3136;
$grey: #36393f;

$white: #ffffff;

$yellow: #faa61a;

$font-family: "Roboto", "Helvetica Neue", sans-serif;
