@import "../../../../assets/scss/variable";

.kancolle-builder-toolbar {
  .mat-toolbar {
    background: #202225;
    color: $white;
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;

    .form-group {
      display: flex;
      align-items: center;
      margin-left: 24px;

      &:first-child {
        margin-left: 0;
      }

      .title {
        & + * {
          margin-left: 24px;
        }
      }
    }

    .theme {
      .mat-select {
        min-width: 100px;
      }
    }

    .fleet {
      .mat-checkbox {
        display: flex;
        margin-left: 16px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
