<section class="kancolle-builder-toolbar">
  <mat-toolbar>
    <form
      class="form"
      [formGroup]="formGroup"
      (submit)="submit()"
    >
      <div class="form-group theme">
        <span class="title">Theme</span>

        <mat-select
          formControlName="theme"
          color="primary"
        >
          <mat-option
            *ngFor="let theme of themes"
            [value]="theme"
          >
            {{ theme }}
          </mat-option>
        </mat-select>
      </div>

      <div class="form-group fleet">
        <span class="title">Fleets</span>

        <mat-checkbox
          formControlName="f1"
          color="primary"
        >
          #1
        </mat-checkbox>

        <mat-checkbox
          formControlName="f2"
          color="primary"
        >
          #2
        </mat-checkbox>

        <mat-checkbox
          formControlName="f3"
          color="primary"
        >
          #3
        </mat-checkbox>

        <mat-checkbox
          formControlName="f4"
          color="primary"
        >
          #4
        </mat-checkbox>
      </div>

      <div class="form-group action">
        <button
          mat-raised-button
          type="submit"
          color="primary"
          [disabled]="isLoading"
        >
          Generate
        </button>
      </div>
    </form>
  </mat-toolbar>
</section>
