<section class="kancolle-builder-toolbar">
  <mat-toolbar>
    <form
      class="form"
      [formGroup]="formGroup"
      (submit)="onSubmit()"
    >
      <div class="form-group lang">
        <mat-icon
          aria-hidden="false"
          matTooltip="Language"
        >
          translate
        </mat-icon>

        <mat-select
          color="primary"
          formControlName="lang"
        >
          <mat-option
            *ngFor="let lang of langs"
            [value]="lang"
          >
            {{ lang | uppercase }}
          </mat-option>
        </mat-select>
      </div>

      <div class="form-group theme">
        <mat-icon
          aria-hidden="false"
          matTooltip="Theme"
        >
          settings
        </mat-icon>

        <mat-select
          color="primary"
          formControlName="theme"
        >
          <mat-option
            *ngFor="let theme of themes"
            [value]="theme"
          >
            {{ theme }}
          </mat-option>
        </mat-select>
      </div>

      <div class="form-group fleet">
        <span class="title">Fleets</span>

        <mat-checkbox
          *ngFor="let fleetCheckbox of FLEET_CHECKBOXS"
          color="primary"
          [formControlName]="fleetCheckbox.formControlName"
        >
          {{ fleetCheckbox.label }}
        </mat-checkbox>
      </div>

      <div class="form-group lbas">
        <mat-checkbox
          color="primary"
          formControlName="lbas"
        >
          LBAS
        </mat-checkbox>
      </div>

      <div class="form-group action">
        <button
          mat-raised-button
          type="submit"
          color="primary"
          aria-label="Generate"
          matTooltip="Generate"
          [disabled]="isLoading"
        >
          <mat-icon aria-hidden="false">cached</mat-icon>
        </button>

        <button
          mat-raised-button
          type="button"
          color="primary"
          aria-label="Copy image"
          matTooltip="Copy image"
          (click)="onCopy()"
        >
          <mat-icon aria-hidden="false">content_copy</mat-icon>
        </button>

        <button
          mat-raised-button
          type="button"
          color="primary"
          aria-label="Download image"
          matTooltip="Download image"
          (click)="onDownload()"
        >
          <mat-icon aria-hidden="false">download</mat-icon>
        </button>
      </div>
    </form>
  </mat-toolbar>
</section>
