<section class="kancolle-builder">
  <mat-drawer-container class="builder-container">
    <mat-drawer
      #drawer
      class="builder-sidenav"
      mode="over"
    >
      SideNav
    </mat-drawer>

    <div class="builder-sidenav-content">
      <div class="builder-header">
        <app-kancolle-builder-toolbar
          [isLoading]="isLoading"
          (generate)="generate()"
        ></app-kancolle-builder-toolbar>
      </div>

      <div class="builder-content">
        <mat-progress-bar
          *ngIf="isLoading"
          mode="buffer"
          color="primary"
        ></mat-progress-bar>

        <div
          #canvasContainer
          class="canvas-container"
        ></div>
      </div>
    </div>
  </mat-drawer-container>
</section>
