@import "../../../../assets/scss/variable";

$builder-header-height: 64px;

.kancolle-builder {
  height: 100%;

  .builder-container {
    height: inherit;
  }

  .builder-sidenav {
    background: $black;
  }

  .builder-sidenav-content {
    height: inherit;
  }

  .builder-header {
  }

  .builder-content {
    width: 100%;
    height: calc(100% - #{$builder-header-height});
    overflow: auto;
  }

  .canvas-container {
    &::ng-deep canvas {
      display: block;
      margin: auto;
    }
  }
}
