// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.
@import "assets/scss/variable";
@import "assets/scss/palette";
@import "assets/scss/typography";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// @include mat-core();
@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $KanColleImgBuilder-primary: mat-palette($mat-indigo);
$KanColleImgBuilder-primary: mat-palette($primary-palette);
// $KanColleImgBuilder-accent: mat-palette($mat-pink, A200, A100, A400);
$KanColleImgBuilder-accent: mat-palette($accent-palette);

// The warn palette is optional (defaults to red).
// $KanColleImgBuilder-warn: mat-palette($mat-red);
$KanColleImgBuilder-warn: mat-palette($warn-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$KanColleImgBuilder-theme: mat-dark-theme(
  (
    color: (
      primary: $KanColleImgBuilder-primary,
      accent: $KanColleImgBuilder-accent,
      warn: $KanColleImgBuilder-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($KanColleImgBuilder-theme);

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: $grey;
  font-family: $font-family;
}

.mat-tooltip-panel {
  .mat-tooltip {
    background: $grey;
    margin: 8px;
    font-size: 12px;
  }
}

.mat-snack-bar-container {
  background-color: $primary;
  color: $white;

  span {
    margin: auto;
  }
}
